body, html {
	position: relative;
    background-color: #06203A;
    /*background-image: url(../img/app-bg.png);*/
    /*background-repeat: repeat;*/
    /*background-position: bottom left;*/
}
body.home .app-wrapper {
	background-image: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h3, h3 {
    font-size: 18px;
}
.h2, h2 {
    font-size: 22px;
}
header {
	padding: 10px 0;
}
.app-wrapper {
	/*height: 100%;*/
	position: relative;
	/*min-height: 100%;*/
	/*padding-bottom: 20px;*/
}
.panel {
	border-radius: 0;
	border: none;

}
.panel {
	background-color: transparent;
}
.panel-default>.panel-heading {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
    border: 0;
    border-color: transparent;
}
.panel-heading {
	padding: 15px 10px;
}
.panel-heading {
	padding: 12px 10px;
}
.panel-title > a {
	font-size: 26px;
	/*font-weight: bold;*/
	text-decoration: none;
	text-align: center;
	color: #fff;
}
.panel-body {
    padding: 10px;
	background-color: #fff;
}
.panel > .panel-collapse > .list-group .list-group-item {
	/*padding-left: 30px;*/
	text-align: center;
}

.panel-collapse .list-group-item a {
	font-size: 18px;
	/*font-weight: bold;*/
	text-decoration: none;
	color: #000;
    text-transform: capitalize;
}

.footer-link {
	margin-bottom: 0;
	position: fixed;
	top: 15px;
	right: 0;
	width: 12%;
	font-size: 18px;
	padding: 7px 0 0 0;
	border-radius: 0;
	background: rgba(245, 245, 245, .1);
	border: none;

}

.app-wrapper h3 {
	margin: 0;
	/*font-weight: bold;*/
    text-transform: capitalize;
}

.app-wrapper audio {
	height: 46px;
}

.app-wrapper h2 {
	color: #fff;
	text-transform: capitalize;
}


a:focus, a:hover {
    text-decoration: none;
}

.rachana-img img {
	width: 100%;
	margin-top: 10px;
}
.play-pause-btn {
	margin-top: 20px;
}
.media-play, .media-pause {
	font-size: 12px;
	display: block;
	padding: 7px;
	line-height: 100%;
	font-weight: bold;
	/*background-color: #EBF4FF;*/
	text-transform: uppercase;
	border-bottom: 1px solid #191818;
    border-top: 1px solid #CACACA;
    color: #000;
}

audio {
	display: none!important;
}
.about-section .panel-title > a {
	font-size: 16px;
}
.footer-link a {
    color: #0A2944;
}